.alignView {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-input {
    position: absolute;
    margin-top: 0.4rem;
    margin-left: 0.75rem;
}

.submitButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 85px;
}

.textCenter {
    text-align: center
}

.formFilter {
    width: 100%;
    padding: 30px;
}

.alignInsert {
    width: 100%;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media(max-width: 600px) {
    .alignView {
        padding: 10px;
        height: 100%;
    }
    .textCenter {
        text-align: left;
    }
    .submitButton {
        padding-right: 0;
    }
}